@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #fff;
    --second-bg-color: #323946;
    --text-color: #000;
    --main-color: #0ef;

}

html {
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
.navbar {
    padding: 0;
    margin: 0;
    position: relative;
}

.navbar-brand {
    color: var(--text-color);
}

.navbar-brand img {
    height: 70px;
    width: 70px;
}

#navbar-head {
    font-size: 15px;
    font-weight: 600;
    margin-left: 2rem;
    text-decoration: none;
    color: var(--text-color);
}

#navbar-head:hover,
#navbar-head.active {
    color: #0070ad;
}

.navbar-toggler {
    background-color: #0070ad;
}
.slick-slider h3 {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
}
.banner-section {
    position: relative;
}
.inner-banner{
    background-image: url('./assets/image2.jpg');
        /* height: 515px; */
        position: relative;
        /* padding: 150px 0px 150px; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: white;
}

.image-section{
   width:100%;
}
.image-section img{
    width: 100%;
    height: 500px;
}
.slick-dots {
    position: absolute;
    bottom: 20px;
}
.checkin-form {
    background-color: #fff;
    margin: 150px 0px;
    border-radius: 20px;
}
.checkin-form label{
    text-align: left;
    color:#000;
    font-size: 14px;
}
select {
    margin: 0px 1em;
    padding: 1em;
    width: 90%;
    /* border-radius: 8px; */
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
    word-wrap: normal
}

input {
    display: block;
    margin: 1em;
    padding: 1em;
    width: 90%;
    font-size: 14PX;
    /* border-radius: 8px; */
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
}

input:hover {
    border-color: #0070ad;
    outline: none;
}

.book-button {
    width: 100%;
    padding: 10px;
    margin: 1em;
    font-size: 14px;
    border: 1px solid #e4e6e8;
    background-color: #0070ad;
    color: #fff;

}

.book-button:hover {
    background-color: transparent;
    color: #000;
    border: 3px solid #0070ad;
}

/*  */
.checkin-form .container {
    padding: 20px 20px;
}
.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    color: #000;
    font-size: 14px;
}
.error{
    font-size: 14px;
    text-align: left;
    color: red;
}
input {
    width: 100%;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #0070ad;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Responsive styles for large screens */
@media (min-width: 768px) {
    .form-container {
        width: 500px;
        margin: 0 auto;
    }
}

/* Responsive styles for small screens */
@media (max-width: 767px) {
    .form-container {
        padding: 10px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
.middle-side-room{
    margin: 10px 0px;
}
.c-7{
    font-size: 12px;
    text-align: left;
}
.c3 span{
    font-size: 12px;
}
#room-suite{
    height: 200px !important;
}
    .middle-side-room p {width: 100%;}
    .d{
        display: inline-block !important;
    }
    .items li{
        padding: 4px !important;
    }
    .card img{
        height: 30px !important;
    }
        .items {
            display: flex;
            padding: 10px 0px;
            padding-left: 0;
        }
        .right-text{
            padding: 0 !important;
        }
}


@media (min-width: 768px) and (max-width: 1023px) {

}
@media (min-width: 1024px) and (max-width: 1334px) {


}

@media (min-width:1400px) and (max-width:1920px) {
  
}

@media (min-width:1924px) and (max-width:2620px) {

}
/* about  */
.about-section{
    position: relative;
    padding: 50px 0px 50px;
}
#about-image {
    width: 100%;
}
.sec-title {
    position: relative;
    z-index: 1;
    text-align: left;
    margin-bottom: 10px;
}

.sec-title .title {
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 24px;
    color: #ff2222;
    font-weight: 500;
    margin: 15px 0px;
}

.sec-title h2 {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 1.28em;
    color: #222222;
    font-weight: 600;
}

.sec-title.light h2 {
    color: #ffffff;
}

.sec-title.text-center h2:before {
    left: 50%;
    margin-left: -25px;
}

.about-section .content-column {
    position: relative;
    margin-bottom: 10px;
}

.about-section .content-column .inner-column {
    position: relative;
}

.about-section .text {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 26px;
    color: #848484;
    font-weight: 400;
    text-align: left;
}

.card-section{
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}
.card-content h3 {
    padding: 10px 0px;
    font-size: 20px;
    margin: 0;
}
.card-section img{
    padding: 15px 0px 0px 0px;
}
.card-content p{
    font-size: 14px;
    color:#848484;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.card img{
    height: auto;
    width: auto;
}
/* rooms */
.rooms-area{
    padding: 30px;
}
.left-side-room{
    position: relative;
    border-radius:20px;
}
.left-side-room img{
    width: 100%;
}
.middle-side-room{
    position: relative;
    height: auto;
    text-align: left;
}
.middle-side-room h3{
    font-size: 20px;
    font-weight: 600;
}
.middle-side-room p{
    font-size: 14px;
    color:#848484;
    width: 100%;
}
.items{
    display: flex;
    padding: 30px 0px;
    padding-left: 0;
    margin: 0;
}
.items li{
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
}
.right-side-room{
    position: relative;
}
.service-button {
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: 2px solid #000;
    background-color: #0070ad;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
}
.card{
    padding: 10px 10px;
    border: none;  
}
.d{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.left-text {
    text-align: start;
}
.right-text {
    padding: 30px 0px;
    text-align: end;
}
.card:hover{
    box-shadow: none;
}
/* dining */
.dining{
    padding: 150px 0 150px;
    background: url("./assets/dining_banner.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    position: relative;
}
.dining img{
    /* height: 500px; */
    width: 100%;
}
.dining-gallery{
    padding: 50px 0px;
}
.dining-inner{
    width: 100%;
    height: 100%; 
}
.dining-gallery img{
    width: 100%;
    height: 100%;
}
.dining-inner{
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
}
.why-text {
    position: absolute;
    left: 0;
    bottom: -100%;
    right: 0;
    height: 100%;
    background: rgba(207, 166, 113, 0.9);
    padding: 12px 12px;
    transition: all .3s ease;
}
.dining-inner:hover .why-text {
    position: absolute;
    top: 50%;
    padding: 10px;
}
.room-banner{
    padding: 150px 0 150px;
        background: url('./assets/superior2.jpeg') no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: bottom;
        position: relative;
}

/* conact us */
.contact-banner{
    padding: 150px 0 150px;
    background: url('./assets/hotel-banner.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
    position: relative;
}
.contact-banner::before ,
.dining::before,
.room-banner::before
{
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}
.contact-banner .container,.dining .container,.room-banner .container{
    position: relative;
    z-index: 2;
}
.top-text {
    font-size: 35px;
    color: #ffffff;
    /* font-family: 'Arbutus Slab', serif; */
    padding: 0px;
}
.inner-contact{
    padding: 30px;
}
.inner-contact .contact-form {
    max-width: 400px;
    margin: 0 auto;
    position: relative;
}

 .inner-contact .contact-form .form-group {
    margin-bottom: 20px;
}
 .inner-contact .contact-form input,
 .inner-contact .contact-form textarea 
  {
    display: block;
    font-size: 14px;
    margin: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 8px;
    border-style: none;
    border: 1px solid #e4e6e8;
    transition: 0.1s ease;
    color: #848484;
}

  .inner-contact .contact-form input:hover {
    border-color: palevioletred;
}

 .inner-contact .contact-form button {
    margin: 0.8em;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.1s ease-in;
    color: #fff;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border-radius: 4px;
        float: right;
        /* Add this line */
}

 .inner-contact .contact-form button:hover {
    background-color: palevioletred;
    color: white;
}
.address-info {
    margin-top: 30px;
    text-align: left;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

/*-------------------------------------------------*/
/* =  Reservation section
/*-------------------------------------------------*/
#reservation-section {
    padding: 100px 0;
    background: url('./assets/ban4.jpg') center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    font-size: 14px;
    -o-background-size: cover;
}

#reservation-section .title-section {
    text-align: left;
    margin-bottom: 40px;
    color: #fff;
}

#reservation-section .title-section h1:after {
    left: 0;
    margin-left: 0;
}

#reservation-section .reservation-box form.reservation-form {
    text-align: left;
    max-width: 370px;
}

#reservation-section .reservation-box form.reservation-form label {
    display: block;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 12px;
}

#reservation-section .reservation-box form.reservation-form input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    border: none;
    margin: 0 0 15px;
    color: #999999;
    font-size: 13px;
    outline: none;
}

#reservation-section .reservation-box form.reservation-form input[type="submit"] {
    background: transparent;
    color: #f4b350;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid #f4b350;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 25px 8px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin: 15px 0 0;
}

#reservation-section .reservation-box form.reservation-form input[type="submit"]:hover {
    background: #f4b350;
    color: #ffffff;
}
.services{
    list-style-type: none;
}
.services li{
    padding: 20px 0px;
}
.services li img{
    padding: 0px 20px;
}
/* map */
.map{
    padding: 20px;
}
.x{
    position: absolute;
}
.x {
    margin: 10px;
}

.x .container {
    padding: 40px 0;
}
.x .container img{

            height:50px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            text-align: center;
  
}
@media screen and (max-width: 768px) {
    .inner-banner img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .inner-banner img {
        width: 100%;
        height: auto;
    }
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-track {
  width: 100%; /* Set the initial width to 100% */

  /* Add additional styling as needed */
}

@media screen and (max-width: 768px) {
  .slick-track {
    width: 80%; /* Adjust the width for screens up to 768px */
  }
}

@media screen and (max-width: 480px) {
  .slick-track {
    width: 90%; /* Adjust the width for screens up to 480px */
  }
}
 /* service */
 .why-choose-column {
     background: 0 0 no-repeat padding-box #fff;
     box-shadow: 1px 3px 6px #00000029;
     border-radius: 20px;
     margin-bottom: 20px;
     padding: 15px;
     display: flex;
     align-items: flex-start;
     height: auto;
 }
 #tech_logo {
     height: 50px;
     transition: 0.5s all ease-in-out;
     width: 50px;
 }
 .service-area{
    padding: 30px 0px;
 }
 .why-us-h3{
    text-align: center;
 }
 .why-choose-column .all-service {
     padding: 15px 15px;
 }
 .why-choose-column .all-service h3 {
     font-size: 15px;
     text-align: left;
     font-weight: 600;
 }
 .why-choose-column .all-service p {
     text-align: left;
     letter-spacing: 0;
     color: #6c6c6c;
     font-size: 14px;
     font-weight: 300;
     margin: 0;
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 2;
     line-clamp: 3;
     -webkit-box-orient: vertical;
 }
 /* footer */
 #top-bottom {
     position: fixed;
     bottom: 30px;
     right: 20px;
     border-radius: 50%;
     width: 41px;
     height: 40px;
     padding: 6px;
     z-index: 999999
 }

 .footer {
     padding: 40px 0 0px 0;
     background: #0070ad;;
     color: #fff;
     background-size: cover;
     position: relative;
 }

 .footershort {
     display: block;
 }

 .footer-item ul {
     padding: 0;
     list-style: none;
     margin: 0px 12px 0px;
     float: left;
 }

 .footer-title {
     font-size: 16px;
     font-weight: 500;
     padding: 10px 0 10px 0;
     position: relative;
     color: #fff;
     text-align: left;
 }

 .animate {
     -webkit-animation: animatezoom 0.6s;
     animation: animatezoom 0.6s;
 }
.flex{
    display: flex;
}
.flex span{
    margin-right: 10px
}
.flex span img{
    height: 20px;
    width: 20px;
}
 .footer-item ul li .des {
     float: left;
     width: 100%;
     font-size: 14px;
     text-align: left;
     margin: 0px 0 15px 0;
     color: #fff;
     font-weight: 500;
 }

 .footer-item ul li a {
     color: #0070ad;
     line-height: 20px;
     font-size: 14px;
     font-weight: 600;
     float: none;
     display: inline-block;
     width: 100%;
 }

 .footer-item ul li a {
     color: #fff;
     line-height: 22px;
     font-size: 14px;
     font-weight: 500;
     text-decoration: none;
     text-align: left;
 }

 .footer-item ul.members {
    list-style: none;
    display: flex;
    padding-left: 0;
 }

 .footer-item ul.members li {
     width: auto;
     margin: 0;
     padding-right: 0;
     display: inline-block;
 }

 /* .footer-item ul li a:hover {
     padding: 0 0 0 5px;
     color: #0070ad;
 } */

 ul.members li a {
    color: #fff;
    line-height: 22px;
    font-size: 13px;
    display: block;
    text-align: center;
    padding: 4px 4px;
 }
.copyright {
      text-align: center;
      padding: 30px 0px;
      color: #fff;
      font-size: 15px;
  }

/* final booking */
.book-top{
    border-radius: 4px;
    border: 1px solid rgba(245, 166, 35, 0.19);
    background-color: rgb(254, 246, 233);
    padding: 16px;
    color: rgb(211, 140, 23);
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
}
.booking-Ending{
    padding: 20px;
}
.booking-left{
    border: 1px solid rgba(122, 122, 122, 0.17);
    border-radius: 4px;
}
.heading{
    align-items: center;
    padding: 14px 24px;
    color: rgb(0, 0, 0);
    background: rgb(249, 249, 251);
}
.booking-Ending .heading h3{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.6;
    padding: 10px 0px;
    background-color: #f9f9fb;
    
}
.booking-Ending p{text-align: left;
    padding: 20px 20px;
    font-size: 14px;
    color:#848484;
    margin-bottom: 0;
}
.final-form{
    padding: 20px;
}
.final-form label{
    font-size: 14px;
    margin: 0px;
    text-align: left;
}
.final-form input{
    margin: 10px 0px;
}
.otp-button{
    width: 100%;
    margin: 10px 0px;
}

.booking-right{
    border-radius: 4px;
    border: solid 1px rgba(122, 122, 122, 0.17);
    box-shadow: 0 2px 26px 0 rgba(125, 125, 125, 0.1);
    padding: 24px;
    box-sizing: border-box;
    position: -webkit-sticky;
    position: sticky;
    top: 24px;
}
.book-right-top{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.all-text-heading{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    width: 280px;
    margin-bottom: 8px;
}
.hotel-rating{
    display: flex;
}
.hotel-rating p {
    margin: 0;
    padding: 0px 20px 0px 5px;
}
.hotel-image{
    border-radius: 4px;
    box-shadow: rgba(125, 125, 125, 0.1) 0px 2px 6px 0px;
    width: 80px;
    height: 60px;
    opacity: 1.2;
    border: 1px solid rgb(151, 151, 151);
    background-color: rgb(216, 216, 216);
}
.verify-button{

            border-radius: 4px;
            background-color: rgb(26, 182, 79);
            border: 0px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: bold;
            line-height: 1.2;
            padding: 14px;
            height: auto;
            margin-bottom: -12px;
            margin-top: 10px;
            flex: 1 1 50%;
            margin-right: 24px;
            display: block;
            cursor: pointer;
            outline: 0px;
            width: 40%;

}
.hotel-image img{
    height: 60px;
    width: 80px;
}
.span-heading{
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    color: rgb(12, 10, 21);
    margin-top: 8px;
}
.book-right-bottom{
    border-radius: 4px;
    margin: 18px 0px;
}
.c2{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.c2-left{
    display: flex;
    border-radius: 4px 0px 0px 4px;
    padding: 0px;
    -webkit-box-align: center;
    align-items: center;
}
.c2-left-icon{
    margin-top: 2px;
        height: 20px;
        width: 20px;
}
.dates{
    font-size: 14px;
    color: #0c0a15;
    line-height: 1.71;
    font-weight: 600;
    background: #fff;
    margin: 5px 5px;
    padding-top: 5px;
    display: block;
}
.c3{
    display: flex;
    padding: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative; 
}
.rating{
    background-color: #8fc400;
    border-radius: 10px;
}
.rating span{
    font-size: 10px;
    color: #fff;
    margin-top: 5px;
    padding: 8px;
}
.c3 span{
    font-size: 14px;
    color: #0c0a15;
    line-height: 1.71;margin: 5px 5px;
    padding-top: 5px;
    font-weight: 600;
    background: #fff;
    padding: 0;
    margin-left: 22px;
    margin-right: 12pxt;  
}
.c4{
    margin: 16px 0px;
}
.c5{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin: 12px 0px;
}
.c-7{
    font-size: 14px;
    line-height: 2;
    text-align: left;
    color: rgb(34, 34, 34);
}
.c-8{
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
    color: rgb(34, 34, 34);
}
.bar{
    border: 1px solid rgb(240, 240, 240);
    margin: 24px 0px;
}
/* payment page */
.payment-container {
 
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}
.payment-form {
    display: flex;
    flex-direction: column;
}


button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.rating span img{
    height: 10px;
    margin-bottom: 4px
}
.final-form a{
    text-decoration: none;
}
button:hover {
    background-color: #45a049;
}